.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  padding: 7px;
  margin: 37px 0 0 25px;
  box-sizing: border-box;
  cursor: pointer;
  grid-area: button;
}